# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build artifacts & dependencies
node_modules
example/node_modules
dist
example/dist
dist-ssr
*.local
vite-plugin-static-md-*.tgz
BODY.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test artifacts
coverage
