@import "./colors.css";
@import "./fonts.css";
@import "./layout.css";

/*
@import '~prismjs/themes/prism-tomorrow'
 */

body {
  min-width: var(--layout-min-width);
  max-width: var(--layout-max-width);
  margin: 0 auto;
  font-family: var(--fonts-family-sans);
  font-size: var(--fonts-size-regular);
  text-rendering: optimizeLegibility;
  color: var(--colors-dark);
  background-color: var(--colors-light);
}
article {
  margin: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: var(--fonts-family-serif);
  font-weight: var(--fonts-weight-serif-normal-bold);
}

h1 {
  font-size: var(--fonts-size-extra-large);
}

h2 {
  font-size: var(--fonts-size-large);
}

h1,
h2 {
  padding-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--colors-dark-light-alternate);
}

h3 {
  font-size: var(--fonts-size-medium);
}

h4 {
  font-size: var(--fonts-size-regular-medium);
}

h5 {
  font-size: var(--fonts-size-regular);
}

h6 {
  font-size: var(--fonts-size-small);
}

em {
  font-family: var(--fonts-family-sans-italic);
}

strong {
  font-family: var(--fonts-family-mono);
  font-weight: var(--fonts-weight-sans-semi-bold);
}

*:focus {
  outline: none;
}
a:focus,
*[role="button"]:focus {
  box-shadow: 0 0 3px 1px var(--colors-accent1);
}

a {
  color: var(--colors-action-dark);
}
a:hover {
  color: var(--colors-accent1);
}

h1:first-child {
  text-align: center;
  margin-bottom: 0.5rem;
}

h3 > div {
  margin-top: 0.5rem;
}
h3:has(+ div) {
  margin-bottom: 0.5rem;
}
section > h3:first-child {
  margin-top: 1rem;
}

.contact-list ul,
.skills-list ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media print, screen and (min-width: env(--layout-screen-medium)) {
  .contact-list ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contact-list ul > li:nth-child(3),
  .contact-list ul > li:nth-child(4) {
    text-align: right;
  }
}

.skills-list ul > li:not(:last-child)::after {
  content: " |";
  color: var(--colors-dark-light-alternate);
}

ul p:has(+ .skills-list),
ul .skills-list ul {
  display: inline;
}
.skills-list ul > li {
  display: inline;
}
p:has(+ .skills-list) {
  margin: 0.5rem 0;
}

.skills-list ul > li:first-child::before {
  content: "Skills developed:";
  font-weight: var(--fonts-weight-sans-semi-bold);
  font-style: italic;
  padding-right: 0.75rem;
}
ul .skills-list ul > li:not(:last-child)::before {
  content: unset;
  font-weight: inherit;
}
ul p:has(+ .skills-list)::after {
  content: "";
  padding-right: 0.3rem;
}

/*
 * Unused svg styles
 *
svg.stroke,
.stroke svg {
  fill: transparent;
  stroke: var(--colors-dark);
  stroke-linecap: round;
  stroke-linejoin: miter;
}
svg.fill,
.fill svg {
  fill: var(--colors-dark);
  stroke: transparent;
}
svg.stroke.light,
.stroke.light svg {
  stroke: var(--colors-light);
}
svg.fill.light,
.fill.light svg {
  fill: var(--colors-light);
}
svg.stroke.action,
.stroke.action svg {
  stroke: var(--colors-action);
}
svg.fill.action,
.fill.action svg {
  fill: var(--colors-action);
}
 */

/*
 * print settings
 */
@media print {
  :root {
    font-size: 11pt;
  }

  aside,
  section > section {
    break-inside: avoid-page;
  }
  h2:has(+ section) {
    break-before: avoid-page;
  }

  h1:first-child {
    margin-top: 0;
  }

  p {
    break-inside: auto;
  }
}
@page {
  margin: 0.5in;
}

@page :first {
  /* margin-top: 2in; */
}
